@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}



/*FIRST SECTION*/
.img-section{
    background: url(./images/cloudy-bg.avif);
    background-position: center;
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 0;
}

.title-box{
    width: 100%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.title-box>img{
    width: 60px;
    height: 70px;
    margin-right: 5px;
}
.title-box>.title{
    font-size: 3.5rem;
    font-family: "Cactus Classical Serif",serif;
    color: #f0f0f0;
    font-weight: 500;
}
.title::first-letter{
    font-size: 4rem;
}

.photo-credit{
    color: #f0f0f0;
    font-size: 0.8rem;
    text-align: center;
}

.photo-credit>a{
    color: #f0f0f0;
    margin: 0px 5px;
}

/*SECOND SECTION*/
.form-section{
    width: 75%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.form-notes,.form-notes-two{
    font-size: 1.3rem;
    width: 80%;
    color: rgb(37, 37, 37);
}
.form-notes::first-letter,.form-notes-two::first-letter{
    font-size: 1.7rem;
    font-family: "Cactus Classical Serif",serif;
    font-weight: 600;
    color: rgb(81, 81, 81);
}
.form-notes-two{
    margin: 20px 0px 50px 0px;
}

.sign-up-form{
    width: 80%;
    height: 40%;
}
.sign-up-form>.main-box{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.main-box>p{
    font-size: 1.3rem;
    color: rgb(37, 37, 37);
}
.main-box>p::first-letter{
    font-size: 1.5rem;
    font-family: "Cactus Classical Serif",serif;
    color: rgb(81, 81, 81);
    font-weight: 600;
}
.input-box{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.input-box>div{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.input-box>div>div{
    margin: 20px 0px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    color: rgb(37, 37, 37);
    height: 15%;
}
.input-box>div>div>label{
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-left:5px;
}
.input-box>div>div>input{
    width: calc(100% + 70%);
    height:100%;
    padding: 10px 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
}
.input-box>div>div>input:focus{
    border: 1px solid #E5E7EB;
}
.input-box>div>div>input:focus{
    outline: none;
    border-color: blue;
    box-shadow: 0px 5px 5px rgba(112, 112, 112, 0.3);
}
.submit-button{
    width: 30%;
    padding: 15px 0px;
    margin-top: 20px;
    background-color: #596D48;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
    border: 0;
}

.main-box>.log-in-shortcut{
    font-size: 1rem;
    margin-top: 10px;
}
.main-box>.log-in-shortcut::first-letter{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(37, 37, 37);
    font-weight: normal;
}
.main-box>.log-in-shortcut>a{
    color: rgb(22, 38, 72);
    text-decoration: none;
    font-weight: 600;
}